@media screen and (min-width: 1024px) {
    .container {
        padding-top: 159px;
        margin: 0 auto;
        display: flex;
        width: 1151px;
    }
    .title-description {
        width: 500px;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 404px;
    }
    .first-image img {
        width: 568px;
        margin-left: 83px;
        height: 404px;
    }
    .title-description p {
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        width: 500px;
        padding-top: 20px;
        line-height: 19.2px;
    }
    .title-description h2 {
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
    }
    .tiles {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 420px;
        background-color: #e0e0e0;
        border-radius: 10px;
        margin-left: 126px;
        padding: 30px;
    }
    .tiles:first-child {
        margin-left: 0;
    }
    .tiles h2{
        padding-bottom: 20px;
        font-family: 'smooch Sans';
        font-weight: 700;
        font-size: 36px;
        line-height: 43.2px;
    }
    .tiles p {
        width: 240px;
        font-size: 16px;
        line-height: 19.2px;
        font-family: 'lato';
        font-weight: 400;
        text-align: center;
    }
    .tiles button {
        margin-top: 20px;
        width:163px;
        background-color: #000000;
        height: 45px;
        border-radius: 10px;
        color: white;
        font-family: 'Smooch Sans';
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
    }
}
